//Header

//logo
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

//search box
.user-search {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $smallest) {
    order: 1;
    flex: 0 0 100%;
    transform: translateX(-1rem);
  }
  &__box {
    transition: all 0.2s;
    padding: 0.7rem 2rem;
    margin-right: -3rem;
    color: var(--color-Grey-dark-2);
    width: 90%;
    border-radius: 110px;
    border: none;
    background-color: var(--color-Grey-light-2);

    &:focus {
      outline: none;
      width: 100%;
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-Grey-light-4);
    }
  }

  &__button {
    border: none;
    background-color: var(--color-Grey-light-2);
    &:focus {
      outline: none;
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    fill: var(--color-Grey-dark-3);
    transition: all 0.1s;
    &:hover,
    &:active {
      fill: var(--color-Grey-dark-2);
    }
  }
}

//navigation
.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
  }
  & > *:hover {
    background-color: var(--color-Grey-light-2);
  }
  &__box {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-Grey-dark-2);
  }
  &__notification {
    background-color: var(--color-Primary);
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    @media only screen and (max-width: $smallest) {
      top: 0;
      left: 3rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__box1 {
    position: relative;
    &:hover {
      height: 101%;
      .user-nav__boxmenu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__boxmenu {
    width: 100%;
    position: absolute;
    top: 7rem;
    left: 0;
    @media only screen and (max-width: $smallest) {
      top: 4rem;
      left: 0;
    }
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }
  &__boxitems {
    width: 100%;
    background-color: white;
    overflow: hidden;
  }
  &__profile {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
  }
  &__image {
    width: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
  &__menu {
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 7rem;
    left: 0;
    @media only screen and (max-width: $smallest) {
      top: 4rem;
      left: 0;
    }
    opacity: 0;
    visibility: hidden;
    text-align: center;
  }
  &__menulist {
    font-size: 1.5rem;
  }
  &__menuitems {
    padding: 1rem 2rem;
    background-color: white;
    transition: all 0.2s;
    &:hover,
    &:hover a {
      background-color: var(--color-Grey-light-2);
      color: var(--color-Primary);
    }
  }
  &__menulinks {
    color: black;
  }
  &__profile:hover {
    height: 101%;
  }
  &__profile:hover &__menu {
    opacity: 1;
    visibility: visible;
  }
}
//sidebar
.sidebar {
  &__list {
    font-size: 1.4rem;
    margin-top: 3.5rem;
    @media only screen and (max-width: $medium) {
      margin: 0;
      display: flex;
    }
    @media only screen and (max-width: $small) {
      font-size: 1rem;
    }
  }
  &__items {
    @media only screen and (max-width: $medium) {
      display: flex;
      justify-content: center;
      flex: 1;
    }
    &:not(:last-child) {
      margin-bottom: 0.5rem;
      @media only screen and (max-width: $medium) {
        margin: 0;
      }
    }

    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-Primary);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
      transform: scaley(0);
    }
    &:hover::before,
    &-active::before {
      transform: scaley(1);
      width: 100%;
    }
    &:active::before {
      background-color: darken(#eb2f64, 10%);
    }
  }
  &__link {
    &:link,
    &:visited {
      position: relative;
      z-index: 10;
      padding: 1.5rem 3rem;
      color: var(--color-Grey-light-1);
      text-transform: uppercase;
      // display: inline-block;

      display: flex;
      align-items: center;
      @media only screen and (max-width: $small) {
        flex-direction: column;
        padding: 1rem 2rem;
      }
    }
  }
  &__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    @media only screen and (max-width: $small) {
      margin-right: 0;
      margin-bottom: 0.7rem;
      margin-top: 0.7rem;
    }
  }
}

//copyright
.legal {
  font-size: 1.2rem;
  color: var(--color-Grey-light-4);
  text-align: center;
  padding: 2.5rem;
  @media only screen and (max-width: $medium) {
    display: none;
  }
}

//showcase//gallery
.gallery {
  display: flex;
  backface-visibility: hidden;
  overflow: hidden;

  &__image {
    width: 100%;
    display: block;
    transition: all 0.2s;
    backface-visibility: hidden;
  }
  &__item {
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
  }
  &__caption {
    position: absolute;
    text-transform: uppercase;
    font-size: 3rem;
    color: bwhitelack;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    opacity: 1;
    z-index: 20;
    transition: all 0.2s;
  }
  &__item:hover {
    .gallery__image {
      filter: blur(2px) brightness(80%);
      transform: scale(1.05);
    }
    .gallery__caption {
      color: white;
      transform: translate(-50%, -50%);
    }
  }
}

//Overview
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  // justify-content: center;
  &__heading {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 300;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    @media only screen and (max-width: $small) {
      font-size: 1.5rem;
      padding: 1rem 2.5rem;
    }
  }
  &__stars {
    // flex: 1;
    // background-color: orange;
    margin-right: auto;
    display: flex; //remove white space from bottom
  }
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-Primary);
  }
  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
  }
  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background-color: var(--color-Primary);
    color: #fff;
    padding: 0 2.25rem;
    margin-left: 2rem;
  }
  &__Number {
    font-size: 2.25rem;
    font-weight: 300;
  }
  &__votes {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

//BUTTON
.button-inline {
  border: none;
  color: var(--color-Primary);
  border-bottom: 1px solid currentColor;
  display: inline-block;
  font-size: inherit;
  padding-bottom: 2px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.5rem;

  &:hover {
    color: var(--color-Grey-dark-1);
  }
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

//Details

//Paragraphs
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

//List
.list {
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;
  &-item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }
  //better practice to use svg in before pseudo elements when using in css
  &-item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-image: url("/dist/img/chevron-thin-right.svg");
    background-size: cover;
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      //Masking
      background-color: var(--color-Primary);
      -webkit-mask-image: url("/dist/img/chevron-thin-right.svg");
      -webkit-mask-size: cover;
      mask-image: url("/dist/img/chevron-thin-right.svg");
      mask-size: cover;
      background-image: none;
    }
  }
}

//recommend
.recommend {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  // color: var(--color-Grey-dark-3);
  &__friends {
    color: var(--color-Grey-dark-3);
  }
  &__image {
    margin-left: auto;
    box-sizing: content-box;
    display: flex;
  }
  &__img {
    width: 4rem;
    height: 4rem;
    border: 3px solid #fff;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}

//reviews
.review {
  padding: 3rem;
  margin: 3rem 0;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: $small) {
    margin: 2rem 0;
  }
}
.text {
  position: relative;
  z-index: 10;
  &::before {
    content: "\201C";
    position: absolute;
    top: -5.7rem;
    left: -4rem;
    line-height: 1;
    font-size: 20rem;
    z-index: -1;
    color: var(--color-Grey-light-2);
    font-family: sans-serif;
  }
}
.user {
  margin-top: 2rem;
  display: flex;
  align-items: center;

  &__img {
    height: 4rem;
    width: 4rem;
    margin-right: 1.5rem;
    border-radius: 50%;
  }
  &__profile {
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.4rem;
      text-transform: uppercase;
    }
    p {
      font-size: 1rem;
      color: var(--color-Grey-dark-3);
    }
  }
  &__rating {
    margin-left: auto;
    font-size: 2.2rem;
    color: var(--color-Primary);
    font-weight: 300;
  }
}

//btn
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    transition: margin-left 0.2s;
    margin-left: 3px;
  }
  &:hover {
    span {
      margin-left: 8px;
    }
  }
}

//call to action
.cta {
  text-align: center;
  padding: 3.5rem 0;
  @media only screen and (max-width: $medium) {
    padding: 2.5rem 0;
  }
  &__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    @media only screen and (max-width: $medium) {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    @media only screen and (max-width: $small) {
      font-size: 1.5rem;
    }
  }
  // &__button {
  //   font-size: 1.5rem;
  //   font-weight: 300;
  //   border: none;
  //   padding: 2rem 7.5rem;
  //   overflow: hidden;
  //   text-align: center;
  //   transition: all 0.2s;
  //   border-radius: 110px;
  //   color: #fff;
  //   background-image: linear-gradient(
  //     to right,
  //     var(--color-Primary-light),
  //     var(--color-Primary-dark)
  //   );
  //   text-transform: uppercase;
  //   cursor: pointer;
  //   &:focus {
  //     outline: none;
  //     animation: pulsate 1s infinite;
  //   }
  // }
  // span {
  //   display: block;
  //   transition: all 0.2s;
  // }
  // &__nohover {
  //   transform: translateY(-50px);
  // }
  // &__hover {
  //   transform: translateY(-6px);
  // }
  // &__button:hover {
  //   background-image: linear-gradient(
  //     to right,
  //     var(--color-Primary-dark),
  //     var(--color-Primary)
  //   );
  //   .cta__nohover {
  //     transform: translateY(10px);
  //   }
  //   .cta__hover {
  //     transform: translateY(50px);
  //   }
  // }
  &__button {
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    padding: 2rem 7.5rem;
    overflow: hidden;
    text-align: center;
    transition: all 0.2s;
    border-radius: 110px;
    color: #fff;
    background-image: linear-gradient(
      to right,
      var(--color-Primary-light),
      var(--color-Primary-dark)
    );
    text-transform: uppercase;
    cursor: pointer;
    &:focus {
      outline: none;
      animation: pulsate 1s infinite;
    }
    position: relative;
    @media only screen and (max-width: $small) {
      font-size: 1rem;
    }
  }
  span {
    transition: all 0.2s;
  }

  &__nohover {
    padding: 2rem 0;
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
  }
  &__hover {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__button:hover &__nohover {
    top: 0;
  }
  &__button:hover &__hover {
    transform: translateY(100px);
  }
}
